.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  margin-bottom: 20px;
  width: 100%;
}

.header__logo {
  cursor: pointer;
}

.header_auth {
  display: flex;
  align-items: center;
}

.header_profile_button {
  padding: 8px 20px;
  border-radius: 20px;
  background: #313131;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border: none;
  align-self: center;
}

.header_authorization_btn {
  background-color: #3ddc84;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: black;
  margin-left: 22px;
}

@media screen and (min-width: 720px) and (max-width: 1145px) {
  .header {
    max-width: 708px;
    margin: 0 auto 0;
    padding: 18px 0;
  }
}

@media screen and (max-width: 719px) {
  .header {
    max-width: 100%;
    margin: 0;
    align-items: center;
    padding: 18px 3px 18px 10px;
  }
  .header > a {
    height: 38px;
  }
}
